.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navbar-nav {
    flex-direction: row;
    column-gap: 13px;
}

.navbar-brand {
    float: left;
}

.icon_container {
    float: right;
    cursor: pointer;
}

.icon_container > span {
    display: block;
    color: #fff;
    font-size: 8pt;
    text-align: center;
}

.icon {
    height: 21px;
    padding-left: 8px;
    padding-right: 8px;
}

input[type='file'] {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

hr.style1 { 
    margin-top: 34px;
    margin-bottom: 34px; 
    border: 0; 
    height: 1px; 
    background: linear-gradient(to right, rgb(245,245,245), rgb(8,8,8), rgb(245,245,245));
}

hr.style2 { 
    margin-top: 11px;
    margin-bottom: 11px; 
    border: 0; 
    height: 1px; 
    background: linear-gradient(to right, rgb(245,245,245), rgb(8,8,8), rgb(245,245,245));
}

.inputs label {
    font-weight: bold;
}

.inputs {
    margin-top: 2rem;
    margin-left: 2rem;
}

#program {
    display: grid;
}

#navTabs {
    position: fixed;
}

.program-page {
    position: relative;
    width: 550px;
    height: 850px;
    padding: 50px;
    margin: auto;
    outline: black 3px solid;
    overflow: auto;
}

.layer {
    grid-column: 1;
    grid-row: 1;
}

#header {
    display: flex;
    flex-direction: column;
}

#title {
    line-height: 1;
    text-align: center;
}

#subtitle {
    font-family: "Helvetica", sans-serif;
    font-size: 12pt;
    line-height: 1.25;
    text-align: center;
    margin-top: 13px
}

#footer {
    position: absolute;
    bottom: 50px;
    width: 450px;
    text-align: center;
}

#footerText {
    font-size: 8pt;
    font-style: italic;
    margin: 0;
}

.performance {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.piece {
    font-family: "Helvetica", sans-serif;
    font-size: 10pt;
    width: 450px;
    margin: 0;
    text-align: justify;
    height: 16px;
}

.piece:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.performer {
    font-family: "Helvetica", sans-serif;
    font-size: 12pt;
    text-align: center;
    height: 19px;
}

.test {
    font-family: "Helvetica", sans-serif;
    font-size: 10pt;
    height: auto;
    width: auto;
    position: absolute;
    white-space: nowrap;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    overflow-y: scroll;
    overflow-x: hidden;
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.overlay-text {
    text-align: center;
    top: 8px;
    position: absolute;
    width: 100%;
    color: #fff;
    animation: text-pulse 1.5s infinite ease-out;
}

@keyframes text-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#printPreview {
    position: static;
    margin-top: 56.5px;
}

#printPreview canvas {
    display: block;
    margin: 1em auto;
}

@media (max-width: 992px) {
    .icon {
        display: none;
    }

    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
    }

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .icon_container > span {
        font-size: 10pt;
    }

    #main {
        flex-direction: column;
    }

    .input-container, .program-container {
        margin: auto;
    }
}