.form-group {
    margin-bottom: 15px;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem; 
}

label {
    font-weight: bold;
}

.inputs {
    margin-top: 1rem;
    margin-left: 3rem;
}

#program {
    width: 550px;
    height: 850px;
    padding: 50px;
    margin: auto;
    outline: black 3px solid;
}

#title, #subtitle {
    text-align: center;
}

#performers {
    text-align: justify;
}

/* #titleCanvas {
    z-index: 1;
    position: absolute;
    left: 3rem;
    top: 1rem;
    outline: black 3px solid;
}

#subtitleCanvas {
    z-index: 2;
    position: absolute;
    left: 3rem;
    top: 1rem;
}

#pieceCanvas {
    z-index: 3;
    position: absolute;
    left: 3rem;
    top: 1rem;
}

#performerCanvas {
    z-index: 4;
    position: absolute;
    left: 3rem;
    top: 1rem;
} */