

form label {
    padding-left: 12px;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
}

.inline-group-one {
    flex: 0 0 auto;
    width: 50%;
    padding-right: 8px;
    margin: auto;
}

.inline-group-two {
    flex: 0 0 auto;
    width: 50%;
}

.inline-group-three {
    flex: 0 0 auto;
    width: 100%;
    margin: 5px 0 0 0;
    flex-direction: row;
    column-gap: 3px;
}

.inline-group-three .btn {
    width: 38px;
    border: 1px solid #bbb;
}

.inline-group-four {
    width: 100%;
    margin-top: 5px;
    flex-direction: row;
    justify-content: space-between;
}



.form-group {
    margin-bottom: 15px;
}





.inputs label {
    font-weight: bold;
}

#editPerformanceContainer {
    display: none;
}

#navTabs {
    position: fixed;
}

.program-container {
    position: relative;
    width: 550px;
    height: 850px;
    flex: 0 0 auto;
}

.performance-container {
    display: flex;
    flex-direction: row;
    width: 550px;
}

.last-page {
    justify-content: start;
}

.performance-container .move-performance {
    visibility: hidden;
}

.performance-container .edit-performance {
    visibility: hidden;
}

.performance-container:hover .move-performance {
    visibility: visible;
}

.performance-container:hover .edit-performance {
    visibility: visible;
}

.edit-performance {
    display: flex;
    flex-direction: column;
    width: 50px;
    row-gap: 8px;
    align-items: center;
}

.edit-performance img {
    height: 13px;
}

.move-performance {
    display: flex;
    flex-direction: column;
    width: 50px;
    margin: 0 auto;
    row-gap: 8px;
    align-items: center;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #4682b4;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #4682b4;
}

.performance {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.piece {
    font-family: Georgia, serif;
    font-size: 10pt;
    margin: 0;
    text-align: justify;
    height: 16px;
    line-height: 1;
}

.piece:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.performer {
    font-family: Georgia, serif;
    font-size: 11pt;
    text-align: center;
    line-height: 1;
    margin: 0;
}

.test {
    font-family: Georgia, serif;
    font-size: 10pt;
    height: auto;
    width: auto;
    position: absolute;
    white-space: nowrap;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    overflow-y: scroll;
    overflow-x: scroll;
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.overlay-text {
    text-align: center;
    top: 8px;
    position: absolute;
    width: 100%;
    color: #fff;
    animation: text-pulse 1.5s infinite ease-out;
}

@keyframes text-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#printPreview {
    position: static;
    margin-top: 56.5px;
}

#printPreview canvas {
    display: block;
    margin: 1em auto;
}

@media (max-width: 1256px) {
    .inline-group {
        flex-direction: column;
    }

    .inline-group-one {
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }

    .inline-group-two {
        width: 100%;
    }

    #enterPerformanceContainer {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .input-container, .program-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .program-container {
        width: 100%;
        max-width: 550px;
        margin: auto;
        padding: 0;
    }

    .icon {
        display: none;
    }

    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
    }

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1);
        transform: scale(1);
    }


    .icon_container > span {
        font-size: 12pt;
        margin-top: 5px;
    }

    #main {
        flex-direction: column;
    }

    .program-page {
        width: 100%;
    }

    .inputs {
        margin: auto;
        width: 89%;
    }
}
